body{
	
	background-image: url('2.png');

	background-repeat: no-repeat;

	background-color: #7EC8E3;

	background-position: 85% 75%;

}



.head{

	position: relative;

	bottom: 2em;

	/*justify-content: center;*/


}

.title{
	position: relative;

	/*left: 6em;*/
	display: flex;

	justify-content: center;

	color: #ff5500;

}


.form1{
	

	position: relative;

	justify-content: center;

	background-color:#05445E;

	font-weight: bold;

	border-radius: 6px; 

	height:35em;

	width: 30em;

	right: 32em;

	bottom: 2em;

}
 
 .sb3{
	display: flex;
	justify-content: center;
	position:relative;
	background-color:rgba(222, 49, 99);
	top: 8em;
	left: 2.2em;
	width: 28em;
	padding:13px;
	border: none;	
	color: white;
	
}

input[type]:not(#submit){

	padding:6px;

	color:red;

}




.f{
	display: flex;
	justify-content: center;
	position:relative;
	height: 18em;
	width: 22em;
	background-color:rgba(208, 211, 212 );
	/*font-size:10px;*/
	border: none;	
	color: white;
	top: 3em;
	left: 3em;
	border-radius: 6px;
	background-size: cover;
}
.idd{
	display: flex;
	justify-content: center;
	color:rgba(59, 62, 65);
	position: relative;
	top: 0.5em;
}

.rupee{
	display: flex;
	justify-content: center;
	color:rgba(59, 62, 65);
}


.acc{
	display: flex; 
	color: teal;
}
 

.anx{

	display: flex;
	justify-content: center;
	position: relative;
	top: 5em;
}

.submit1{

	display: flex;

	justify-content: center;

	position:relative;

	top: 6em;
	
 }

 .sb{
  display: flex;
  justify-content: center;
  position:relative;
  
  width:12em;
  /*font-size:10px;*/
  padding:5px;
  background-color:teal;
  border: none; 
  color: white;
  
}
