body{
	background-image: url('webimg/subg.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.title{
	display: flex;
	justify-content: center;
	color: #ff5500;
}

.form1{
	background-color:rgba(140, 70, 20, 0.66);
	color: white;
	height:35em;
	
}

h2{
	display: flex;
	justify-content: center;
	position: relative;
	top:0.7em;
}
input[type]{
	padding:6px;
	color: black;
}
.tb1{
	position: relative;
	left:15em;
	
}
.tb2{
	position: relative;
	top:-23.75em;
	left:45em;
}

.sb{
background-color: sandybrown;
position:absolute;
width:7em;
height:2.1em;
font-size:1.3em;
left:30em;
border-color:sandybrown;
border-radius: 4px;

}
table > tr,td{
	padding:8px;
}